@mixin button($background, $color) {
  width: 100%;
  border-radius: 5px;
  border: 1px solid transparent;
  text-transform: uppercase;
  background: $background;
  color: $color;
  font-size: 16px;
  padding: 13px 0;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  box-shadow: $shadow-1dp;
  transition: all 0.2s;

  &:hover {
    background: $bg-primary;
    color: #fff;
  }
}

.btn-primary {
  @include button($primary, #fff);
}
.btn-secondary {
  @include button(#f6f6f6, #000);
}
