.btn-primary {
  width: 100%;
  border-radius: 40px;
  border: 1px solid transparent;
  text-transform: uppercase;
  background: $primary;
  color: #fff;
  font-size: 18px;
  padding: 13px 0;
  font-weight: bold;
}
.btn-secondary {
  width: 100%;
  border-radius: 40px;
  border: 1px solid transparent;
  text-transform: uppercase;
  background: #f6f6f6;
  color: #000;
  font-size: 18px;
  padding: 13px 0;
  font-weight: bold;
}
