// theme colors
$primary: #16bcdc !default;
$secondary: #6c757d !default;
$error: #cc1414 !default;
$warning: #ffc107 !default;

// text colors
$text-primary: #0068c9 !default;
$text-secondary: #666 !default;
$text-dark: #222 !default;
$text-disable: #999 !default;

$bg-primary: #263c97;