.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  z-index: 2;
  background: inherit;
  transition: 0.7s all;

  @include breakpoint("xl") {
    padding: 15px 50px;
  }

  @include breakpoint("md") {
    padding: 10px 20px;
  }

  &--scroll-down {
    position: fixed;
    top: -100%;
  }

  &--scroll-up {
    position: fixed;
    top: 0;
    z-index: 2;
  }

  @include breakpoint("md") {
    gap: 0 10px;
  }
}

.navbar-logo {
  display: flex;
  align-items: center;

  &__toggle {
    display: none !important;
    font-size: 28px !important;
    margin-right: 15px;
    @include breakpoint("xl") {
      display: block !important;
    }
    @include breakpoint("md") {
      margin-right: 5px;
    }
  }

  &__link {
    font-size: 28px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;

    &:hover {
      color: red;
    }

    @include breakpoint("md") {
      display: none;
    }
  }

  &__icon {
    display: none;

    .MuiSvgIcon-root {
      font-size: 30px !important;
    }
    @include breakpoint("md") {
      display: block;
    }
  }
}

.navbar-search {
  width: 500px;
  background: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;

  @include breakpoint("xl") {
    width: 400px;
  }

  input {
    width: 100%;
    font-size: 1rem;
    color: $text-dark;
    border: none;
    outline: none;
  }

  button {
    background: $primary;
    border: 0;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
      background: $primary-dark;
    }

    .MuiSvgIcon-root {
      font-size: 30px;
      font-weight: bold;
      @include breakpoint("md") {
        font-size: 22px;
      }
    }
  }
  @include breakpoint("md") {
    height: 35px;
    padding: 2px 5px;
  }
}

.navbar-action {
  display: flex;
  gap: 50px;

  @include breakpoint("xxl") {
    gap: 10px;
  }

  @include breakpoint("xl") {
    gap: 5px;
  }
  @include breakpoint("md") {
    display: none;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    .MuiSvgIcon-root {
      font-size: 40px !important;
      font-weight: bold;
      margin-right: 5px;
      &:hover {
        color: $primary;
      }
    }
    div {
      display: flex;
      flex-direction: column;
      font-size: 15px;
      font-weight: 400;

      @include breakpoint("xl") {
        display: none;
      }
    }
  }
  &__top {
    color: #a3afef;
  }
  &__bottom {
    &:hover {
      color: $primary;
    }
  }
  &__badge {
    position: absolute;
    top: -5px;
    left: 20px;
    background: #08cbf1;
    border-radius: 50%;
    width: 20px;
    text-align: center;
  }
  &__cart {
    position: relative;
    display: none;

    .MuiSvgIcon-root {
      font-size: 40px !important;
      font-weight: bold;
      @include breakpoint("md") {
        font-size: 34px !important;
      }
    }
    @include breakpoint("md") {
      display: block;
    }
  }
}
