.post-card {
  position: relative;
  // width ???;
  // height: ???;
  box-shadow: $shadow-1dp;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;

  &__categories {
    position: absolute;
    top: 8px;
    left: 8px;
    display: flex;

    p {
      border-radius: 3px;
      margin-right: 5px;
      padding: 3px 8px;
      background: $primary;
      color: #fff;
      font-size: 12px;
      text-transform: uppercase;
    }
  }

  &__header {
    // height ???
    width: 100%;
  }

  &__body {
    padding: 10px 20px 15px;
    a {
      font-size: 15px;
      &:hover {
        color: $primary;
      }
    }
    p {
      margin-top: 10px;
      font-size: 14px;
      line-height: 21px;
      color: #666;
    }
  }

  &__footer {
    padding: 15px 20px 20px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(211, 211, 211);
    font-size: 14px;

    a {
      color: #666;
      &:hover {
        color: $primary;
      }
    }

    p {
      color: #999;
    }
  }
}
