.cart {
  padding: 0px 100px 50px;

  @include breakpoint("xl") {
    padding: 0px 50px 50px;
  }
  @include breakpoint("md") {
    padding: 0px 20px 50px;
  }

  &__title {
    text-align: center;
    font-size: 34px;
    @include breakpoint("sm") {
      font-size: 24px;
    }
    @include breakpoint("xs") {
      font-size: 20px;
    }
  }
  &__container {
    margin-top: 30px;
    display: flex;
    gap: 20px;

    @include breakpoint("xl") {
      flex-direction: column;
    }
    @include breakpoint("md") {
      margin-top: 20px;
    }
    @include breakpoint("xs") {
      font-size: 10px;
    }
  }
  &__left {
    width: 100%;
  }
  &__right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include breakpoint("xl") {
      flex-direction: row;
      gap: 0;
      justify-content: space-between;
    }
    @include breakpoint("xs") {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__table {
    &--price {
      .discount {
        font-size: 14px;
        font-weight: bold;
      }
      del {
        font-size: 12px;
        font-weight: normal;
        color: $text-disable;
      }
      .normal {
        font-weight: bold;
      }
    }
    &--quantity {
      display: flex;
      justify-content: center;
      button {
        cursor: pointer;
        font-size: 16px;
        width: 30px;
        height: 30px;
        background: unset;
        outline: none;
        border: 1px solid #999;
      }
      input {
        width: 40px;
        height: 30px;
        text-align: center;
        font-size: 14px;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }
    .btn-primary,
    .btn-secondary {
      border-radius: 5px;
      font-size: 15px;
    }

    &--product {
      display: flex;
      align-items: center;
      img {
        border: 1px solid rgb(201, 201, 201);
        margin-right: 10px;
        width: 50px;
        height: 50px;
      }
    }
    .MuiTable-root {
      .MuiTableCell-root.MuiTableCell-head {
        font-weight: 600;
        font-size: 16;
      }
    }
    @include breakpoint("sm") {
      .MuiTable-root {
        .MuiTableCell-root {
          .MuiCheckbox-root {
            padding: 0;
          }
        }
      }
    }
  }
  &__toolbar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    padding: 25px;
    @include breakpoint("sm") {
      padding: 20px;
    }
    &--icon.MuiSvgIcon-root {
      font-size: 30px;
      color: red;
    }
    p {
      font-size: 20px;
      color: $bg-primary;
      @include breakpoint("sm") {
        font-size: 16px;
      }
    }
  }

  &__coupons {
    width: 350px;
    height: fit-content;

    @include breakpoint("xl") {
      width: 49%;
    }
    @include breakpoint("xs") {
      width: 100%;
    }

    &--button {
      display: flex;
      gap: 10px;
      margin-top: 15px;
      @include breakpoint("sm") {
        flex-direction: column;
      }

      input {
        width: 50%;
        padding: 0px 10px;
        border: 1px solid rgb(201, 201, 201);
        border-radius: 5px;
        @include breakpoint("sm") {
          width: 100%;
          height: 40px;
        }
      }
      .btn-primary {
        width: 50%;
        border-radius: 5px;
        font-size: 14px;
        @include breakpoint("sm") {
          width: 100%;
        }
      }
    }
  }

  &__summary {
    width: 350px;
    height: fit-content;

    @include breakpoint("xl") {
      width: 49%;
    }
    @include breakpoint("xs") {
      width: 100%;
    }
    div {
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
      p {
        font-size: 16px;
      }
      p:nth-child(1) {
        color: $text-secondary;
      }
    }
    &--total {
      color: $bg-primary;
      font-size: 18px;
      font-weight: bold;
    }
    .btn-primary {
      margin-top: 15px;
    }
  }
  
}
