.mobile-bottom {
  display: none;
  transition: all 0.8s;
  @include breakpoint("md") {
    display: block;
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background: rgb(221, 221, 221);
    padding: 10px 0;
  }

  &--scroll-up {
    bottom: 0;
  }

  &__item {
    display: block;
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $text-dark;

    img {
      display: block;
      width: 25px;
    }

    .MuiSvgIcon-root {
      font-size: 28px;
    }
    span {
      margin-top: 2px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      @include breakpoint("xs") {
        display: none;
      }
    }
  }
}
