.bannerTop {
  &__carousel {
    position: relative;
    padding: 30px 30px;
    color: #fff;

    &--img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    &--title {
      font-size: 40px;
      font-weight: normal;
      line-height: 48px;
    }
    &--description {
      margin: 20px 0 50px;
      line-height: 30px;
      font-size: 20px;
    }
    &--button {
      border: 3px solid #fff;
      border-radius: 50px;
      padding: 15px 40px;
      color: #fff;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: bold;
      background: transparent;
    }
  }

  &__container {
    display: flex;
    flex-flow: wrap;
    gap: 10px;
  }

  &__box {
    position: relative;
    flex-basis: 50%;

    &--img {
      position: absolute;
      display: block;
      width: 100%;
    }
  }
}
