.category-popular {
  margin: 20px 0 50px;

  @include breakpoint("xl") {
    margin: 0px 0 30px;
  }
  @include breakpoint("md") {
    margin: 20px 0 0px;
  }
  @include breakpoint("xs") {
    margin: 10px 0 0px;
  }

  &__slider {
    margin-top: 30px;

    @include breakpoint("md") {
      margin-top: 10px;
    }
  }

  .slick-arrow {
    display: none !important;
  }

  .banner-card {
    &__item {
      height: 140px;
      padding: 0px 30px;
      margin: 10px;
      img {
        width: 100%;
      }
    }
  }
}
