.flash-sale {
  margin: 50px 0;
  background: #3db8ff;
  border-radius: 10px;
  box-shadow: $shadow-1dp;

  @include breakpoint("lg") {
    margin: 30px 0;
  }

  @include breakpoint("md") {
    margin: 0;
  }

  .product-tab {
    &__header {
      padding: 15px 20px 0;
      color: #fff;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);

      @include breakpoint("lg") {
        padding: 10px 10px 0;
      }
      @include breakpoint("sm") {
        padding: 0 10px;
      }

      h3 {
        border-bottom: 3px solid #222;
        @include breakpoint("xl") {
          border-bottom: 0;
          padding-bottom: 0px;
        }
      }
    }

    &__link {
      position: absolute;
      color: rgb(236, 236, 236);
      bottom: -25px;
      right: 20px;
      font-size: 14px;
      @include breakpoint("lg") {
        bottom: -20px;
      }
    }

    &__button {
      color: #fff;

      &.Mui-selected {
        color: #222 !important;
      }
    }
  }

  .product-slider {
    .slick-arrow {
      &::before {
        color: #222 !important;
      }
    }
  }

  .product-card {
    &:hover {
      border: 2px solid #222;
      box-shadow: 0px 0px 0px #222;
    }
  }
}
