.home {
  margin: 40px 100px;

  @include breakpoint("xl") {
    margin: 30px 50px;
  }

  @include breakpoint("md") {
    margin: 20px 20px;
  }

  @include breakpoint("sm") {
    margin: 20px 15px;
  }

  @include breakpoint("xs") {
    margin: 20px 10px;
  }
}
