.middle-banner {
  margin: 50px 0;

  @include breakpoint("xl") {
    margin: 30px 0;
  }
  @include breakpoint("md") {
    margin: 10px 0;
  }

  .slick-arrow {
    display: none !important;
  }
  .banner-card {
    &__item {
      height: 160px;
      padding: 0 20px;
      margin: 10px;

      @include breakpoint("xs") {
        height: 140px;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;

        @include breakpoint("md") {
          width: 100%;
        }
      }
    }
    &__content {
      h3 {
        width: 50%;
        font-size: 26px;

        @include breakpoint("lg") {
          font-size: 22px;
        }
        @include breakpoint("md") {
          font-size: 28px;
        }
        @include breakpoint("sm") {
          font-size: 24px;
        }
        @include breakpoint("xs") {
          font-size: 22px;
        }
      }
      p {
        color: #fff;
      }
    }
  }
}
