.policy {
  margin: 50px 0;
  padding: 50px 30px;
  background: #1f2024;
  color: #fff;
  border-radius: 10px;
  box-shadow: $shadow-1dp;

  @include breakpoint("xl") {
    padding: 30px 30px;
  }
  @include breakpoint("sm") {
    margin: 30px 0;
    padding: 20px 10px;
  }

  &__item {
    display: flex;
  }
  &__icon {
    margin-right: 10px;

    .MuiSvgIcon-root {
      font-size: 40px !important;
      color: $primary;

      @include breakpoint("sm") {
        font-size: 30px !important;
      }
    }
  }
  &__content {
    h3 {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 500;
      @include breakpoint("xl") {
        font-size: 16px;
      }
      @include breakpoint("sm") {
        font-size: 12px;
      }
    }
    p {
      margin-top: 5px;
      color: $text-disable;

      @include breakpoint("xl") {
        font-size: 12px;
      }
    }
  }
}
