.top-banner {
  &__carousel {
    position: relative;
    padding: 35px 30px;
    color: #fff;
    height: 350px;
    border-radius: 15px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      margin: auto;
      background: transparent;
      transition: 0.5s ease;
    }

    &:hover::before {
      width: 0;
      background-color: rgba(255, 255, 255, 0.15);
    }
    &:hover::after {
      height: 0;
      background-color: rgba(255, 255, 255, 0.15);
    }

    @include breakpoint("md") {
      height: 250px;
      padding: 20px 30px;
    }
    @include breakpoint("sm") {
      height: 200px;
      padding: 10px 20px;
    }
    @include breakpoint("xs") {
      height: 150px;
    }
  }

  &__carousel-img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
  }

  &__carousel-title {
    font-size: 40px;
    font-weight: normal;
    line-height: 48px;
    @include breakpoint("xl") {
      width: 60%;
    }

    @include breakpoint("md") {
      font-size: 26px;
      line-height: 34px;
      font-weight: bold;
    }
    @include breakpoint("sm") {
      width: 70%;
      font-size: 20px;
      line-height: 22px;
    }
    @include breakpoint("xs") {
      font-size: 18px;
      line-height: 22px;
    }
  }
  &__carousel-description {
    margin: 20px 0 50px;
    font-size: 20px;
    @include breakpoint("md") {
      margin: 10px 0 20px;
      font-size: 16px;
    }
    @include breakpoint("xs") {
      font-size: 14px;
    }
  }
  &__carousel-button {
    border: 3px solid #fff;
    border-radius: 50px;
    padding: 15px 40px;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    background: transparent;

    @include breakpoint("md") {
      padding: 10px 30px;
    }
    @include breakpoint("sm") {
      padding: 8px 20px;
    }
    @include breakpoint("xs") {
      display: none;
    }
  }

  &__list {
    @include breakpoint("xl") {
      height: auto !important;
    }
    @include breakpoint("md") {
      display: none !important;
    }
  }

  &__item {
    position: relative;
    height: 163px;
    padding: 20px;
    color: #fff;

    &::before,
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      margin: auto;
      background: transparent;
      transition: 0.5s ease;
    }

    &:hover::before {
      width: 0;
      background-color: rgba(255, 255, 255, 0.15);
    }
    &:hover::after {
      height: 0;
      background-color: rgba(255, 255, 255, 0.15);
    }

    @include breakpoint("xl") {
      height: 150px;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;

      border-radius: 15px;
      z-index: -1;
    }
  }
  &__item-title {
    font-size: 22px;
    width: 70%;
    line-height: 30px;

    @include breakpoint("lg") {
      width: 100%;
    }
  }

  &__item-description {
    font-style: 16px;
    font-weight: bold;
    width: 80%;
    margin-top: 15px;
  }

  .slick-list {
    border-radius: 15px;
  }

  .slick-dots {
    position: absolute;
    bottom: 10px;

    li {
      button {
        &::before {
          font-size: 14px;
          color: #fff;
          @include breakpoint("sm") {
            font-size: 10px;
          }
        }
      }
    }
  }
  .slick-arrow {
    display: none !important;
  }
}
