.checkout {
  padding: 0 100px 50px;
  display: flex;
  gap: 20px;
  @include breakpoint("xl") {
    padding: 0px 50px 50px;
  }
  @include breakpoint("md") {
    padding: 0px 20px 50px;
    flex-wrap: wrap;
  }
  @include breakpoint("sm") {
    padding: 0px 20px 20px;
  }
  &__left {
    flex: 1 1 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__right {
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__user {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    @include breakpoint("sm") {
      flex-direction: column;
    }

    &--box {
      flex: 0 0 calc(50% - 10px);
      padding: 20px;
      border: 2px solid rgb(200, 200, 200);
      border-radius: 5px;
      cursor: pointer;
      &.active {
        border: 2px solid $primary;
      }
    }
    &--info {
      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h5 {
          font-size: 16px;
        }
        .MuiSvgIcon-root {
          font-size: 18px;
        }
      }
      p {
        margin-top: 5px;
      }
    }
    &--add {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    @include breakpoint("sm") {
      flex-direction: column;
    }
  }
  &__product {
    padding: 10px;
    flex-basis: calc(50% - 10px);
    display: flex;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    @include breakpoint("sm") {
      width: 100%;
    }

    &--left {
      img {
        width: 80px;
        height: 80px;
        margin-right: 10px;
      }
    }
    &--right {
      p:nth-child(1) {
        font-size: 16px;
        color: $primary;
      }
      p:nth-child(2) {
        font-size: 16px;
        margin-top: 5px;
        del {
          font-size: 12px;
          margin-left: 5px;
        }
      }
      p:nth-child(3) {
        font-size: 14px;
        margin-top: 5px;
      }
    }
  }

  &__summary {
    width: 100%;
    height: fit-content;

    @include breakpoint("xs") {
      width: 100%;
    }
    div {
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
      p {
        font-size: 16px;
      }
      p:nth-child(1) {
        color: $text-secondary;
      }
    }
    &--total {
      color: $bg-primary;
      font-size: 18px;
      font-weight: bold;
    }
    .btn-primary {
      margin-top: 15px;
    }
    textarea {
      margin-top: 15px;
      padding: 10px;
      display: block;
      width: 100%;
      border: 1px solid rgb(200, 200, 200);
      outline: none;
    }
  }

  &__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    max-height: 90%;
    overflow-y: scroll;

    @include breakpoint("lg") {
      width: 90%;
    }
    @include breakpoint("xs") {
      padding: 10px;
    }

    .MuiSvgIcon-root {
      position: absolute;
      top: 20px;
      right: 20px;
    }

    .form-group {
      margin-top: 15px;
      label {
        display: block;
        font-size: 16px;
        color: $text-dark;
        padding-bottom: 5px;
      }
      .form-control {
        padding: 10px;
        width: 100%;
        border: 1px solid rgb(200, 200, 200);
        border-radius: 5px;
        outline: none;
      }
    }
    &--box {
      margin-bottom: 30px;
    }

    &--flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .form-group {
        flex: 0 0 49%;
        @include breakpoint("xs") {
          flex: 0 0 100%;
        }
      }
    }
    &--btn {
      display: flex;
      justify-content: end;
      .btn-primary,
      .btn-secondary {
        width: 70px;
        padding: 8px;
        font-size: 14px;
        margin-left: 10px;
      }
    }
  }
}
