.product-slider {
  position: relative;
  padding: 0px 10px;

  @include breakpoint("xs") {
    padding: 5px;
  }

  &__list {
    margin-top: 20px;

    @include breakpoint("md") {
      margin-top: 10px;
    }
  }

  &__item {
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    height: 100%;
    @include breakpoint("xl") {
      padding: 15px;
    }

    @include breakpoint("md") {
      padding: 10px;
    }

    @include breakpoint("xs") {
      padding: 5px;
    }
  }

  .slick-track {
    float: left;
    display: flex !important;
    height: auto;
  }
  .slick-slide {
    height: inherit !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .slick-slide > div {
    height: 100%;
  }

  .slick-arrow {
    z-index: 1;
    &::before {
      color: $primary;
      font-size: 26px;
    }
  }

  .slick-prev {
    left: -3px !important;
  }
  .slick-next {
    right: 0px !important;
  }

  &__empty {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
      font-size: 30px;
      color: #222;
    }
  }
}
