.product-card {
  background: #fff;
  padding: 10px 5px 5px;
  border-radius: 8px;
  box-shadow: $shadow-2dp;
  text-align: center;
  position: relative;
  border: 2px solid #fff;
  height: 100%;

  @include breakpoint("xs") {
    padding: 10px 2px 5px;
  }
  @include breakpoint("xxs") {
    // width: 170px;
  }

  &:hover {
    border: 2px solid $primary;
    box-shadow: 1px 1px 1px $primary;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
    width: 160px;
    height: 160px;

    @include breakpoint("xs") {
      padding: 0px;
    }

    img {
      width: 100%;
      // height: fit-content;
      @include breakpoint("xs") {
        height: 140px;
      }
    }
  }

  &__name {
    display: block;
    margin-top: 8px;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.004em;
    color: $text-dark;

    // overflow: hidden;
    // text-overflow: ellipsis;
    // display: -webkit-box;
    // -webkit-line-clamp: 3;
    // -webkit-box-orient: vertical;

    &:hover {
      color: $primary;
    }
    @include breakpoint("xs") {
      font-size: 15px;
    }
  }

  &__price {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.004em;
    padding: 2px 0;

    &--normal {
      color: $primary;
    }
    &--discount {
      color: red;
      del {
        display: block;
        font-size: 13px;
        color: $text-dark;
        text-decoration: line-through;
      }
    }
  }

  &__actions {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: all 0.2s linear;

    &--icon {
      width: 25px;
      height: 25px;
      padding: 4px;
      border: 1px solid rgb(255, 107, 132);
      color: rgb(255, 107, 132) !important;
      background: #fff;
      border-radius: 50%;
      margin-bottom: 5px;
      cursor: pointer;

      &.active {
        color: #fff !important;
        background: rgb(255, 107, 132) !important;
      }

      &:hover {
        border: none;
        background: rgb(255, 79, 108);
        color: #fff !important;
      }
    }
  }

  &__features {
    position: absolute;
    top: 10px;
    left: 10px;
    span {
      padding: 5px 7px;
      color: #fff;
      border-radius: 20px;
      font-size: 10px;
      margin-right: 5px;
    }
    .discount {
      background: red;
    }
    .new {
      background: green;
    }
    .featured {
      background: rgb(255, 128, 0);
    }
  }
}
