.product-slider {
  position: relative;

  &__list {
    margin-top: 20px;

    @include breakpoint("md") {
      margin-top: 10px;
    }

    .slick-track {
      float: left;
    }
  }

  &__item {
    padding: 20px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;

    @include breakpoint("xl") {
      padding: 15px;
    }

    @include breakpoint("md") {
      padding: 10px;
    }
  }

  .slick-arrow {
    z-index: 1;
    &.slick-prev {
      left: -5px;
    }
    &.slick-next {
      right: -2px;
    }
    &::before {
      color: $primary;
      font-size: 26px;
    }
  }

  &__empty {
    font-size: 30px;
    text-align: center;
    padding: 80px 80px;
    color: #222;
  }
}
