.product-card {
  background: #fff;
  padding: 10px 10px 5px;
  border-radius: 8px;
  box-shadow: $shadow-2dp;
  text-align: center;
  position: relative;
  border: 2px solid #fff;
  height: 100%;

  &:hover {
    border: 2px solid $primary;
    box-shadow: 1px 1px 1px $primary;
  }

  &__image {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0 auto;

    @include breakpoint("xs") {
      padding: 0px;
    }

    img {
      @include breakpoint("xs") {
        height: 140px;
      }
    }
  }

  &__name {
    display: block;
    margin-top: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.004em;
    color: $text-dark;
    &:hover {
      color: $primary;
    }
  }

  &__price {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.004em;
    padding: 2px 0;

    &--normal {
      color: $primary;
    }
    &--discount {
      color: red;
      del {
        display: block;
        font-size: 13px;
        color: $text-dark;
        text-decoration: line-through;
      }
    }
  }

  &__actions {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: all 0.2s linear;
    &--icon {
      width: 25px;
      height: 25px;
      padding: 4px;
      border: 1px solid $primary;
      color: $primary !important;
      border-radius: 50%;
      margin-bottom: 5px;
      cursor: pointer;

      &:hover {
        border: none;
        color: #fff !important;
        background: $primary;
      }
    }
  }

  &:hover > &__actions {
    opacity: 1;
  }

  &__features {
    position: absolute;
    top: 10px;
    left: 10px;
    span {
      padding: 5px 7px;
      color: #fff;
      border-radius: 20px;
      font-size: 10px;
      margin-right: 5px;
    }
    .discount {
      background: red;
    }
    .new {
      background: green;
    }
  }
}
