.blog {
  &__tags {
    position: absolute;
    top: 8px;
    left: 8px;
    display: flex;
    gap: 5px;
    a {
      padding: 3px 5px;
      background: $primary;
      color: #fff;
      font-size: 12px;
      border-radius: 2px;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid $primary;
    padding: 10px 20px 5px;
    &--main {
      padding: 7px;
      font-size: 13px;
      text-transform: uppercase;
      background: $primary;
      color: #fff;
      border-radius: 2px;
    }
    &--action {
      padding-right: 10px;
      color: $secondary;
      font-size: 14px;
    }
  }
}

.blog-container {
  width: 1400px;
  margin: 0px auto;
  padding: 30px 0px 50px;

  @include breakpoint("xxl") {
    width: auto;
    padding: 30px 100px 50px;
  }
  @include breakpoint("xl") {
    padding: 30px 50px 100px;
  }
  @include breakpoint("md") {
    padding: 20px 20px 50px;
  }
  @include breakpoint("xs") {
    padding: 20px 10px 20px;
  }
}

.blog-layout {
  display: flex;
  gap: 30px;
  @include breakpoint("xl") {
    flex-direction: column;
  }
  &__left {
    flex-basis: calc(70% - 30px);
    @include breakpoint("xl") {
      flex-basis: 100%;
    }
    .MuiGrid-item {
      margin-bottom: 20px;
      // height: 100%;
    }
  }
  &__right {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include breakpoint("xl") {
      flex-basis: 100%;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .blog__aside {
      @include breakpoint("xl") {
        flex-basis: calc(50% - 15px);
      }
      @include breakpoint("md") {
        flex-basis: 100%;
      }
    }
  }
}

.blog-home {
  .blog-layout {
    &__left {
      display: flex;
      flex-direction: column;
      gap: 20px;
      @include breakpoint("xs") {
        gap: 10px;
      }
      .blog__section {
        flex-basis: 100%;
      }
    }
  }
}

.blog-banner {
  margin-bottom: 30px;
  &__list {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    flex-basis: calc(25% - 4px);
    position: relative;
    height: 350px;
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @include breakpoint("md") {
      flex-basis: calc(50% - 2px);
      height: 300px;
      padding: 10px;
    }
    @include breakpoint("xs") {
      flex-basis: 100%;
      height: 150px;
    }
    &--img {
      z-index: 0;
      img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(40%);
        transition: 0.5s all;
        &:hover {
          filter: brightness(100%);
        }
      }
    }
    &--title {
      font-size: 20px;
      line-height: 28px;
      z-index: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      &:hover {
        color: $primary;
      }
      @include breakpoint("xs") {
        font-size: 18px;
        line-height: 20px;
      }
    }
    span {
      font-size: 14px;
      color: rgb(221, 221, 221);
      z-index: 1;
    }
  }
  &__actions {
    margin: 5px 0;
    gap: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__action {
    gap: 5px;
    display: flex;
    align-items: center;
    .MuiSvgIcon-root {
      color: $primary;
    }
    svg {
      color: $primary;
      z-index: 1;
    }
  }
}

.blog-section {
  background: #fff;
  box-shadow: $shadow-1dp;
  border-radius: 5px;
  &__container {
    padding: 10px 20px 20px;
    display: flex;
    gap: 30px;
    @include breakpoint("md") {
      flex-direction: column;
    }
    @include breakpoint("xs") {
      padding: 15px;
    }
  }
  .blog-card {
    flex-basis: calc(50% - 15px);
    margin: unset;
    border-radius: unset;
    box-shadow: unset;
    &__body {
      padding: 10px 0;
      a {
        font-size: 18px;
        line-height: 26px;
      }
    }
    &__footer {
      padding: 15px 10px;
    }
  }

  &__list {
    flex-basis: calc(50% - 15px);
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.blog-card {
  // width ???;
  // height: ???;
  height: 100%;
  position: relative;
  box-shadow: $shadow-1dp;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
  &__header {
    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
      border-radius: 5px;
      &:hover {
        opacity: 0.9;
      }
    }
  }
  &__body {
    padding: 10px 15px 15px;
    a {
      font-size: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      &:hover {
        color: $primary;
      }
    }
    p {
      margin-top: 10px;
      font-size: 14px;
      line-height: 21px;
      color: #666;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
  &__footer {
    padding: 15px 20px 20px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(211, 211, 211);
    font-size: 14px;

    a {
      display: flex;
      align-items: center;
      color: #222;
      gap: 5px;
      &:hover {
        color: $primary;
      }
    }

    p {
      color: #222;
    }
  }
  &__items {
    gap: 10px;
    display: flex;
    margin-top: 10px;
    align-items: center;
  }
  &__item {
    gap: 5px;
    display: flex;
    align-items: center;
    font-size: 15px;
    .MuiSvgIcon-root {
      width: 20px;
      color: $primary;
    }
    span {
      font-size: 14px;
      color: #222;
    }
  }
}

.blog-wrap {
  display: flex;
  gap: 15px;
  &--left {
    img {
      display: block;
      width: 120px;
      border-radius: 5px;
      object-fit: cover;
    }
  }
  &--right {
    flex-basis: 80%;

    a {
      display: block;
      font-size: 15px;
      line-height: 22px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      &:hover {
        color: $primary;
      }
    }
  }

  &__image {
    &:hover {
      opacity: 0.9;
    }
  }

  &__title {
    font-size: 16px;
  }
  &__date {
    font-size: 14px;
    color: #999;
    margin-top: 5px;
  }
  &__actions {
    margin-top: 7px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__action {
    display: flex;
    align-items: center;
    gap: 5px;
    .MuiSvgIcon-root {
      width: 18px;
      color: $primary;
    }
    span {
      font-size: 14px;
      color: #666;
    }
  }
}

.blog-aside {
  background: #fff;
  padding: 20px;
  box-shadow: $shadow-1dp;
  border-radius: 5px;
  width: 100%;

  h3 {
    font-size: 20px;
    font-weight: 700;
    color: $primary;
  }
  &__list {
    .blog-wrap {
      margin-top: 15px;
    }
  }
  &__button {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    .btn-primary {
      background: $primary-dark;
      text-transform: capitalize;
      width: fit-content;
      padding: 6px 15px;
    }
  }
}

.blog-detail {
  background: #fff;
  padding: 50px 50px;
  box-shadow: $shadow-1dp;
  border-radius: 5px;
  @include breakpoint("xs") {
    padding: 30px;
  }
  @include breakpoint("xs") {
    padding: 20px;
  }
  &__title {
    margin: 0 0 5px;
    word-wrap: break-word;
    font-size: 32px;
    line-height: 42px;
    font-weight: normal;
    color: $primary-dark;
    @include breakpoint("xs") {
      font-size: 24px;
      line-height: 30px;
    }
  }
  &__info {
    display: flex;
    justify-content: flex-end;
    span {
      font-size: 15px;
      font-weight: 400;
      color: #666;
    }
    div {
      display: flex;
      align-items: center;
      p {
        margin-left: 15px;
        display: flex;
        align-items: center;
        gap: 3px;
        .MuiSvgIcon-root {
          font-size: 16px;
        }
      }
    }
  }
  &__content {
    div,
    h2,
    p {
      width: unset !important;
    }
  }
  
  &__content p {
    margin: 30px 0 20px;
    padding: 0 0px;
    font-size: 19px;
    line-height: 26px;
    @include breakpoint("xs") {
      padding: 0 0px;
    }
  }
  &__img {
    display: block;
    padding: 40px 100px;
  }
}

.blog-comment {
  h3 {
    margin: 15px 0;
  }
  &__item {
    margin-top: 20px;
  }
  &__main {
    margin-bottom: 30px;
    .blog-form {
      display: none;
    }
  }

  &__reply {
    margin-top: 20px;
    padding-left: 50px;
  }
  &__content {
    display: flex;
    gap: 20px;
    img {
      width: 60px;
      height: 60px;
    }
    div {
      h5 {
        span {
          color: $secondary;
          font-weight: normal;
        }
      }
      p {
        margin: 5px 0;
      }
      button {
        background: #1565c0;
        color: #fff;
        border: none;
        outline: none;
        box-shadow: $shadow-1dp;
        cursor: pointer;
      }
      button.active ~ .blog-form {
        display: block;
      }
    }
  }
}

.blog-form {
  margin-top: 15px;
  &__content {
    display: flex;
    gap: 20px;
    img {
      width: 60px;
      height: 60px;
    }
    textarea {
      width: 100%;
      height: 100px;
      padding: 10px;
    }
  }
  &__button {
    text-align: end;
    margin-top: 10px;
  }
}
