.checkout {
  padding: 0 100px 50px;
  display: flex;
  gap: 20px;
  @include breakpoint("xl") {
    padding: 0px 50px 50px;
  }
  @include breakpoint("md") {
    padding: 0px 20px 50px;
    flex-wrap: wrap;
  }
  @include breakpoint("sm") {
    padding: 0px 20px 20px;
  }
  &__left {
    flex: 1 1 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__right {
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.checkout-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  @include breakpoint("sm") {
    flex-direction: column;
  }
  &__item {
    padding: 10px;
    flex-basis: calc(50% - 10px);
    display: flex;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    @include breakpoint("sm") {
      width: 100%;
    }
  }
  img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }
  &__name {
    font-size: 16px;
    color: $primary;
  }
  &__price {
    font-size: 16px;
    margin-top: 5px;
    del {
      font-size: 12px;
      margin-left: 5px;
    }
  }
  &__quantity {
    font-size: 14px;
    margin-top: 5px;
  }
}

.checkout-summary {
  width: 100%;
  height: fit-content;

  @include breakpoint("xs") {
    width: 100%;
  }

  &__item {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    p {
      font-size: 16px;
    }
    p:nth-child(1) {
      color: $text-secondary;
    }
  }

  &__total {
    color: $primary-dark;
    font-size: 18px;
    font-weight: bold;
  }

  .btn-primary {
    margin-top: 15px;
    width: 100%;
  }

  textarea {
    margin-top: 15px;
    padding: 10px;
    display: block;
    width: 100%;
    border: 1px solid rgb(200, 200, 200);
    outline: none;
  }
}
