.detail {
  padding: 0px 100px 50px;
  min-height: 50vh;
  display: flex;
  gap: 30px;

  @include breakpoint("xl") {
    padding: 0 50px 50px;
    gap: 0;
  }

  @include breakpoint("md") {
    padding: 0 20px 50px;
  }

  &__toggle {
    display: none;
    background: #fff;
    padding: 8px;
    border-radius: 3px;
    box-shadow: $shadow-1dp;

    &:hover {
      background: $primary;
    }

    @include breakpoint("xl") {
      display: block;
      position: fixed;
      left: 0px;
    }

    .MuiSvgIcon-root {
      font-size: 26px;
      &:hover {
        color: #fff;
      }
    }
  }

  &__left {
    flex-basis: 75%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include breakpoint("xl") {
      flex-basis: 100%;
    }
  }

  &__right {
    flex-basis: calc(25% - 30px);
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include breakpoint("xl") {
      display: none;
    }
  }

  &__services {
    background: #fff;
    padding: 20px;
    height: fit-content;
    border-radius: 5px;
    box-shadow: $shadow-1dp;
    @include breakpoint("xxl") {
      padding: 15px;
    }
    h3 {
      font-size: 18px;
      font-weight: normal;
      margin-bottom: 20px;
      color: $primary-dark;
    }
    div {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }

  &__preview {
    display: flex;
    background: #fff;
    border-radius: 5px;
    box-shadow: $shadow-1dp;

    @include breakpoint("sm") {
      flex-direction: column;
    }
  }

  &__actions {
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    @include breakpoint("md") {
      justify-content: center;
    }
    @include breakpoint("sm") {
      flex-direction: row;
    }

    &--quantity {
      display: flex;
      @include breakpoint("md") {
        width: 100%;
      }
      button {
        cursor: pointer;
        font-size: 16px;
        width: 40px;
        height: 40px;
        background: unset;
        outline: none;
        border: 1px solid #999;
        &:hover {
          color: $primary;
          border: 1px solid $primary;
        }
        @include breakpoint("md") {
          width: 30%;
        }
      }
      input {
        width: 70px;
        height: 40px;
        text-align: center;
        font-size: 16px;
        &:focus {
          border: 1px solid $primary;
          outline: 1px solid $primary;
        }
        @include breakpoint("md") {
          width: 100%;
        }
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }
    .btn-primary,
    .btn-secondary {
      border-radius: 5px;
      font-size: 15px;
      @include breakpoint("md") {
        width: 47%;
      }
    }
  }

  &__information {
    display: flex;
    gap: 30px;
  }

  &__related {
    padding: 10px 100px 50px;
  }

  &__modal {
    width: 800px;
    overflow-y: scroll;

    @include breakpoint("lg") {
      width: 90%;
    }
    @include breakpoint("xs") {
      padding: 10px;
    }

    &.detail-specifications {
      h3 {
        font-size: 24px;
        text-align: center;
        @include breakpoint("xs") {
          font-size: 20px;
        }
      }
      &__item {
        padding: 10px 20px;
        font-size: 16px;
        display: flex;
        @include breakpoint("sm") {
          font-size: 14px;
        }
      }
      &__key {
        min-width: 200px;
        @include breakpoint("md") {
          min-width: 150px;
        }
        @include breakpoint("sm") {
          min-width: 130px;
        }
        @include breakpoint("xs") {
          min-width: 100px;
        }
      }
    }
  }
}

.detail-images {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
  @include breakpoint("lg") {
    padding: 15px;
    flex-basis: 50%;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    img {
      margin-top: 10px;
      width: 50px;
      height: 50px;
      border: 1px solid rgb(201, 201, 201);
      cursor: pointer;

      @include breakpoint("xs") {
        width: 40px;
        height: 40px;
      }
      &.active {
        border: 2px solid $primary;
      }
    }
  }
  &__more {
    margin-top: 10px;
    width: 50px;
    height: 50px;
    background: rgb(224, 224, 224);

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    color: #222;
    font-size: 14px;
    cursor: pointer;
    @include breakpoint("xs") {
      width: 40px;
      height: 40px;
    }
  }
  &__view {
    width: 100%;
    padding: 0 30px;
    img {
      width: 100%;
    }
    @include breakpoint("sm") {
      padding: 0 80px;
    }
    @include breakpoint("xs") {
      padding: 0 50px;
    }
  }
}

.detail-content {
  padding: 30px;
  flex-basis: 60%;
  @include breakpoint("lg") {
    flex-basis: 50%;
    padding: 15px;
  }
  &__name {
    font-size: 24px;
    font-weight: 400;
    color: $primary-dark;
  }
  &__review {
    margin-top: 7px;
    display: flex;
    align-items: center;
    .line {
      margin: 0px 10px;
      color: #999;
    }
    p {
      color: #666;
    }
  }
  &__price {
    font-size: 24px;
    font-weight: 400;
    margin-top: 10px;
    font-weight: bold;
    .discount {
      color: red;
      del {
        color: $text-disable;
        font-size: 18px;
        margin-left: 10px;
      }
    }
  }
  hr {
    width: 100%;
    height: 1px;
    margin: 1rem 0;
    background: rgb(236, 236, 236);
    border: none;
    outline: none;
  }
  &__description {
    color: $text-secondary;
    line-height: 24px;
  }
  &__socials {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    color: $text-secondary;
  }
  &__category,
  &__brand {
    margin-top: 15px;
    a {
      margin-left: 5px;
      color: $text-disable;
      cursor: pointer;
      &:hover {
        color: $primary;
      }
    }
  }
  &__option {
    margin: 15px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    @include breakpoint("xs") {
      margin: 10px 0 20px;
    }
  }
}

.detail-description {
  background: #fff;
  border-radius: 5px;
  box-shadow: $shadow-1dp;
  padding: 30px;

  &__title {
    font-size: 20px;
    margin-bottom: 30px;
  }
  &__desc {
    // height: 150px;
    overflow: hidden;
    &--active {
      height: auto;
    }
  }
  &__button {
    width: 100%;
    margin: 20px 0 0;
    text-align: center;
    .btn-primary {
      width: 200px;
      border-radius: 5px;
    }
  }
}

.detail-review {
  background: #fff;
  border-radius: 5px;
  box-shadow: $shadow-1dp;
  padding: 30px;

  &__title {
    font-size: 20px;
    margin-bottom: 30px;
  }
}

.detail-rating {
  display: flex;
  align-items: center;
  &__overview {
    flex-basis: 25%;
    display: flex;
    align-items: center;
    p {
      font-size: 30px;
      color: $primary-dark;
      margin-right: 10px;

      @include breakpoint("xs") {
        font-size: 20px;
        margin-right: 5px;
      }
    }
    .MuiSvgIcon-root {
      font-size: 40px;
      color: #faaf00;
      @include breakpoint("xs") {
        font-size: 30px;
      }
    }
  }
  &__filter {
    flex-basis: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;

    .btn-secondary {
      width: 100px;
      border-radius: 5px;
      padding: 8px 0;
      font-weight: normal;
      font-size: 14px;

      @include breakpoint("sm") {
        width: 80px;
        font-size: 12px;
        padding: 6px 0;
      }

      @include breakpoint("xs") {
        width: 60px;
        font-size: 12px;
        padding: 6px 0;
      }
    }
  }
  &__list {
    margin-top: 30px;
    &--empty {
      margin: 50px 0 30px;
      text-align: center;
    }
  }
  &__item {
    display: flex;
    padding: 30px 0;
    border-bottom: 1px solid rgb(201, 201, 201);

    @include breakpoint("md") {
      flex-direction: column;
    }

    &--left {
      flex-basis: 25%;
      @include breakpoint("md") {
        flex-basis: 100%;
      }
    }

    &--right {
      flex-basis: 75%;
      @include breakpoint("md") {
        flex-basis: 100%;
      }
    }
  }
  &__user {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    img {
      margin-right: 10px;
      width: 60px;
      height: 60px;
    }
    &--name {
      font-weight: bold;
      font-size: 16px;
    }
    &--date {
      color: #666;
      font-size: 14px;
      margin-top: 5px;
    }
  }
  &__comment {
    line-height: 22px;
  }
}

.detail-specifications {
  background: #fff;
  padding: 20px 0;
  height: fit-content;
  border-radius: 5px;
  box-shadow: $shadow-1dp;
  @include breakpoint("xxl") {
    padding: 15px 0;
  }

  h3 {
    padding: 0px 20px;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
    color: $primary-dark;
    @include breakpoint("xxl") {
      padding: 0 15px;
    }
  }
  &__item {
    padding: 5px 20px;
    margin-bottom: 10px;
    font-size: 14px;
    display: flex;
    &:nth-child(odd) {
      background: #f6f6f6;
    }
    @include breakpoint("xxl") {
      padding: 15px;
    }
  }
  &__key {
    min-width: 110px;
    @include breakpoint("xxl") {
      min-width: 100px;
    }
  }
  &__button {
    text-align: center;
    .btn-primary {
      margin: 10px 0 0;
      width: auto;
      font-size: 12px;
      padding: 8px 10px;
      border-radius: 5px;
    }
  }
}
