.footer {
  padding: 50px 50px;
  background: #1f2024;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;

  @include breakpoint("md") {
    padding: 30px 20px;
    gap: 0;
  }

  &__links {
    flex: 1;
    @include breakpoint("md") {
      flex: unset;
      flex-basis: 100%;
    }
    &.large {
      flex: 0 0 25%;

      @include breakpoint("xl") {
        flex: 0 0 48%;
        order: -1;
        margin-bottom: 30px;
      }

      @include breakpoint("md") {
        flex: unset;
        flex-basis: 100%;
        margin-bottom: 0;
      }
    }
  }

  &__header {
    margin: 0 0 20px;
    @include breakpoint("md") {
      margin: 0px 0px 10px;
      background: #292b2f;
      padding: 15px 20px;
      border-radius: 3px;
      display: flex;
      justify-content: space-between;
      &.active {
        + .footer__body {
          display: block;
        }
        .MuiSvgIcon-root {
          transform: rotate(90deg) !important;
        }
      }
    }
    h3 {
      font-size: 18px;
      text-transform: capitalize;
      font-weight: 600;
      color: #fff;
      letter-spacing: -0.5px;
      @include breakpoint("md") {
        font-size: 16px;
      }
    }
    .MuiSvgIcon-root {
      color: #fff;
      display: none;

      transition: all 0.5s;
      @include breakpoint("md") {
        display: block;
      }
    }
  }

  &__body {
    @include breakpoint("md") {
      padding: 20px 20px;
      background: #292b2f;
      margin-bottom: 20px;
      border-radius: 3px;
      display: none;
    }

    p {
      font-size: 14px;
      color: #999;
    }

    ul {
      li {
        margin-bottom: 15px;
        a {
          font-size: 14px;
          color: #999;
        }
      }
    }
  }
  &__download {
    margin: 20px 0;
    img {
      margin-right: 5px;
      width: 45%;

      @include breakpoint("xl") {
        margin-right: 20px;
        width: 35%;
      }
    }
  }

  &__socials {
    display: flex;

    a {
      margin-right: 10px;
      width: 45px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $primary;
      color: #fff;
      border-radius: 3px;

      @include breakpoint("xxl") {
        width: 40px;
        height: 40px;
      }
    }
  }

  &__form {
    margin: 20px 0;
    position: relative;
    input {
      width: 100%;
      padding: 15px;
      border-radius: 5px;
      outline: none;
      border: none;
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      outline: none;
      border: none;
      padding: 0 20px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      background: $primary;
      color: #fff;
    }
  }
}
