input,
button,
textarea,
select {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  border: none;
}

.form {
  label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
    // color: #222;
    font-size: 16px;
  }

  &__container {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    text-align: center;
    background: #fff;

    @include breakpoint("md") {
      margin: 0px auto;
    }
    @include breakpoint("xs") {
      padding: 20px;
    }
  }

  &__item {
    margin: 0 auto;
    width: 60%;
    @include breakpoint("md") {
      width: 80%;
    }
    @include breakpoint("xs") {
      width: 100%;
    }
    h3 {
      font-size: 30px;
      font-weight: normal;
    }
    form {
      margin-top: 30px;
      @include breakpoint("xs") {
        margin-top: 20px;
      }
    }

    &--facebook {
      background: rgb(45, 136, 255);
    }
    &--google {
      margin-top: 10px;
      background: rgb(220, 78, 66);
    }
  }
  &__action {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    a {
      display: block;
      text-align: end;
      color: #888;
      text-decoration: underline;
      font-size: 15px;
    }
  }
  &__option {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #888;
    margin: 20px 0;
    div {
      height: 1px;
      width: 100%;
      background: #888;
    }
    span {
      text-transform: uppercase;
      font-size: 14px;
    }
  }
  &__switch {
    margin-top: 15px;
    color: #999;
    a {
      color: $primary;
    }
  }
  .btn-primary {
    width: 100%;
  }
}

.form-group {
  margin: 0 auto 0.75rem auto;
  padding: 0.25rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 10px;
  color: #222;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 2px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.input-textarea {
  width: 100%;
  min-height: 120px;
  resize: vertical;
  padding: 10px;
  color: #222;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 2px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-textarea:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

input[type="date"] {
  padding: 8px 10px !important;
}
.error {
  margin-top: 5px;
  color: red;
  font-size: 14px;
  text-align: start;
}

::placeholder {
  color: #999;
}
