.user-address {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  @include breakpoint("sm") {
    flex-direction: column;
  }
  &__item {
    flex: 0 0 calc(50% - 10px);
    padding: 20px;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 5px;
    cursor: pointer;
    &--active {
      position: relative;
      border: 2px solid $primary;
      &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        right: -1px;
        width: 0px;
        height: 0px;
        border-bottom: 15px solid $primary;
        border-left: 15px solid transparent;
      }
    }
    &--center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    p {
      margin-top: 5px;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h5 {
      font-size: 16px;
    }
  }

  &__action {
    .MuiSvgIcon-root {
      margin-left: 5px;
      font-size: 18px;
      &:hover {
        color: $primary;
      }
    }
  }

  &__add {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
