.user {
  position: relative;
  padding: 30px 100px;
  display: flex;
  gap: 0 20px;

  @include breakpoint("xl") {
    padding: 30px 50px;
  }
  @include breakpoint("md") {
    padding: 20px 20px;
  }

  &--flex {
    display: flex;
    justify-content: space-between;
    @include breakpoint("md") {
      flex-direction: column;
    }
  }

  &__toggle {
    display: none;
    background: #fff;
    padding: 8px;
    border-radius: 3px;
    box-shadow: $shadow-1dp;

    &:hover {
      background: $primary;
    }

    @include breakpoint("xl") {
      display: block;
      position: fixed;
      left: 0px;
    }

    .MuiSvgIcon-root {
      font-size: 26px;
      &:hover {
        color: #fff;
      }
    }
  }

  &__header {
    border-bottom: 1px solid rgb(207, 207, 207);
    padding-bottom: 15px;
    &--flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include breakpoint("md") {
        flex-direction: column;
        justify-content: unset;
        align-items: unset;
      }
    }
    &--flex-start {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      li {
        margin-right: 30px;
        padding: 5px 0;
        font-size: 16px;
        &:hover {
          color: $primary;
          cursor: pointer;
        }
        &.active {
          color: $primary;
        }
      }
    }
    h3 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 5px;
      @include breakpoint("md") {
        font-size: 18px;
      }
    }
    button {
      width: fit-content;
      padding: 8px;
      text-transform: capitalize;
      font-weight: normal;
    }
  }

  &__body {
    margin-top: 25px;
    min-height: 100px;
  }

  &__aside {
    position: relative;
    width: 350px;
    height: fit-content;
    border-radius: unset;
    transition: all 1s;
    @include breakpoint("xl") {
      position: fixed;
      top: 0;
      left: -100%;
      height: 100vh;
      overflow-y: scroll;
      background: #f3f5f6;
      padding: 15px;
      box-shadow: $shadow-2dp;
      z-index: 11;
      padding-top: 20px;
    }

    @include breakpoint("sm") {
      width: 300px;
    }

    &--active {
      left: 0;
    }

    &--icon {
      position: absolute;
      top: 10px;
      right: 10px;
      display: none !important;
      background: $primary;
      color: #fff;
      border-radius: 3px;
      box-shadow: $shadow-1dp;

      @include breakpoint("xl") {
        display: block;
      }
    }
  }

  &__info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-right: 10px;
    }
    p {
      font-weight: bold;
    }
  }

  &__avatar {
    padding: 50px 0;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #999;
    @include breakpoint("md") {
      width: 100%;
      border-left: unset;
    }
    img {
      display: block;
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
    button {
      margin-top: 15px;
      font-size: 14px;
      text-transform: capitalize;
      padding: 5px 10px;
    }
  }

  &__vouchers {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.user-menu {
  margin-top: 15px;

  &--active {
    .user-menu__item {
      color: $primary;
    }
    .user-menu__submenu {
      max-height: fit-content;
      transform: translateY(00%);
      transition: all 0.3s ease-in;
      opacity: 1;
      visibility: visible;
    }
  }

  &__submenu {
    margin: 5px 0 0 30px;
    max-height: 0;
    transform: translateY(-30%);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;

    &--active {
      color: $primary;
    }

    li {
      margin-top: 5px;
      &:hover {
        color: $primary;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    cursor: pointer;
    &:hover {
      color: $primary;
    }
  }
}

.user-form {
  width: 100%;
  &__group {
    margin-bottom: 25px;
    display: flex;
    font-size: 18px;
    gap: 50px;
    @include breakpoint("sm") {
      flex-direction: column;
      gap: 5px;
      margin-bottom: 15px;
    }
    p:nth-child(1) {
      width: 150px;
      text-align: right;
      @include breakpoint("sm") {
        color: $text-secondary;
        text-align: unset;
        font-size: 16px;
      }
    }
    p:nth-child(2) {
      a {
        margin-left: 5px;
        font-size: 15px;
        color: $primary;
        text-decoration: underline;
      }
    }
  }

  &__radio {
    display: flex;
    gap: 15px;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      label {
        margin: 0;
        margin-left: 5px;
      }
    }
  }

  &__button {
    text-align: center;
  }
}

.bank-account {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include breakpoint("sm") {
    gap: 10px;
    flex-direction: column;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 15px;
    .MuiSvgIcon-root {
      font-size: 50px;
      color: #999;
      border: 1px solid #999;
      padding: 5px;
      border-radius: 5px;
    }
    h4 {
      span {
        font-size: 14px;
        margin: 0px 10px;
        font-weight: normal;
        color: #999;
      }
      button {
        background: $primary;
        color: #fff;
        font-size: 12px;
        border-radius: 3px;
        padding: 2px 5px;
      }
    }
  }
  &__action {
    display: flex;
    gap: 5px;
    @include breakpoint("md") {
      flex-direction: column;
    }
    @include breakpoint("md") {
      flex-direction: row;
    }
    button {
      width: unset;
      padding: 8px;
      font-weight: normal;
      text-transform: capitalize;
    }
    button:nth-child(1) {
      background: red;
    }
    button:nth-child(2) {
      background: $primary-dark;
    }
  }
}

.bank-modal {
  width: 500px;
  overflow-y: hidden;

  @include breakpoint("lg") {
    width: 90%;
  }
  @include breakpoint("xs") {
    padding: 10px;
  }

  &--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    .form-group {
      flex: 0 0 calc(50% - 10px);
      @include breakpoint("xs") {
        flex: 0 0 100%;
      }
    }
  }

  .form-group {
    margin: 0 0 20px;
    padding: unset;
    label {
      display: none;
    }
    .form-control {
      padding: 10px;
      width: 100%;
      border: 1px solid rgb(200, 200, 200);
      border-radius: 5px;
      outline: none;
      color: #828482;
    }
  }
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    p {
      font-size: 16px;
    }
    img {
      width: 30px;
      height: 24px;
    }
  }

  &__button {
    display: flex;
    justify-content: end;
    .btn-primary,
    .btn-secondary {
      padding: 8px;
      font-size: 14px;
      margin-left: 10px;
      text-transform: capitalize;
    }
  }
}

.user-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #999;
  margin: 20px 0;
  &__item {
    display: flex;
    img {
      width: 100px;
      height: 100px;
      margin-right: 20px;
    }
  }
  p {
    margin-bottom: 5px;
  }
  &__name {
    font-size: 18px;
    color: $primary;
    font-weight: bold;
  }
  &__discount {
    color: red;
    del {
      margin-left: 5px;
      color: #222;
      font-size: 16px;
    }
  }
  &__price {
    color: #222;
    font-size: 16px;
  }
  &__date {
    color: $text-secondary;
    font-size: 14px;
  }
  &__status {
    text-align: end;
    h4 {
      margin-bottom: 5px;
      color: red;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

.user-voucher {
  flex-basis: calc(50% - 20px);
  display: flex;
  @include breakpoint("md") {
    flex-basis: 100%;
  }
  &__type {
    flex-basis: 35%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: $primary;
    color: #fff;
    text-transform: uppercase;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -4px;
      width: 0.25rem;
      height: 100%;

      background: radial-gradient(
        circle at 0 0.2rem,
        transparent 0,
        transparent 0.1875rem,
        $primary 0
      );
      background-size: 0.25rem 0.625rem;
      background-repeat: repeat-y;
    }
  }
  &__content {
    flex-basis: 75%;
    border: 1px solid #999;
    padding: 20px;
  }
  &__code {
    font-size: 16px;
    span {
      text-transform: uppercase;
    }
  }
  &__date {
    margin-top: 5px;
    font-size: 14px;
  }
}
