.App {
  position: relative !important;
  min-height: 100vh;
}

.radio-toolbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  /* margin: 10px; */
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
  margin: 0;
  display: inline-block;
  background-color: #fff;
  padding: 5px 10px;
  font-family: sans-serif, Arial;
  font-size: 14px;
  color: #000;
  border: 1px solid #999;
  border-radius: 4px;
  cursor: pointer;
}

.radio-toolbar label:hover {
  color: #fff;
  background-color: #14bcdc;
  border: 1px solid #14bcdc;
}

.radio-toolbar input[type="radio"]:focus + label {
  border: 1px dashed #14bcdc;
}

.radio-toolbar input[type="radio"]:checked + label {
  color: #fff;
  background-color: #14bcdc;
  border: 1px solid #14bcdc;
}

.product__option {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 5px;
}
.product__option p {
  background: #14bcdc;
  padding: 3px 7px;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
}
